<div class="sign-up-page-wrapper">
  <div class="sign-up-title">Зарегистрироваться</div>
  <div class="inputs-wrapper">
    <div class="input-container">
      <p class="sign-up-text">Логин</p>
      <input class="sign-up-input" type="text" placeholder="Ваш логин">
    </div>
    <div class="input-container">
      <p class="sign-up-text">Пароль</p>
      <input class="sign-up-input" type="text" placeholder="Ваш пароль">
    </div>
    <div class="input-container">
      <p class="sign-up-text">Уровень подготовки</p>
      <input class="sign-up-input" type="text" placeholder="Ваш уровен подготовки">
    </div>
    <div class="input-container">
      <p class="sign-up-text">Цель использования тренировок</p>
      <input class="sign-up-input" type="text" placeholder="Ваша цель">
    </div>
    <div class="input-container">
      <p class="sign-up-text">Предпочитаемый стиль плавания</p>
      <input class="sign-up-input" type="text" placeholder="Ваш стиль плавания">
    </div>
    <div class="input-container">
      <p class="sign-up-text">Имя</p>
      <input class="sign-up-input" type="text" placeholder="Ваша имя">
    </div>
  </div>
  <div class="buttons">
    <button class="sign-up-button" (click)="onSignUpClick()">Зарегистрироваться</button>
  </div>
</div>
