.search-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-page-title {
  margin-top: 10px;
  font-size: x-large;
  font-weight: 700;
}

.select-btns-container, .btm-btns {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.btm-btns {
  margin-top: 70px;
}

.select-btn {
  font-size: medium;
  font-weight: 600;
  color: #ffffff;
  width: 20%;
  background-color: #ffc0cb;
  height: 40px;
  margin-top: 10px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.apply-filters-btn {
  color: rgb(78, 78, 210);
  background-color: pink;
  height: 120px;
  font-size: medium;
  font-weight: 600;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.go-back-to-menu-btn {
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  border: 0;
  border-radius: 3px;
  margin-top: 30px;
  height: 80px;
  background-color: rgb(207, 16, 16);
}
