.login-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-bottom: 30px;
  font-size: xx-large;
  font-weight: 700;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.login-text {
  color: rgb(240, 70, 70);
  font-size: large;
  font-weight: 350;
}

.login-input {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid gray;
  color:rgb(240, 70, 70);
}

.login-button {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: white;
  height: 40px;
  background-color: rgb(240, 70, 70);
  border-radius: 5px;
  border: 0px;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
}
